[submodule "src/apriltag"]
	path = src/apriltag
	url = https://github.com/yushijinhun/apriltag-robomaster.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "src/cartographer_ros"]
	path = src/cartographer_ros
	url = https://github.com/cartographer-project/cartographer_ros.git
[submodule "src/cartographer"]
	path = src/cartographer
	url = https://github.com/cartographer-project/cartographer.git
[submodule "src/abseil-cpp"]
	path = src/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
