_ignored/

# clangd
.cache/

# python
__pycache__/

# catkin
build/
devel/
logs/
install/
.catkin_tools/profiles/*/*
!.catkin_tools/profiles/*/config.yaml

# vscode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
