<?xml version="1.0"?>
<launch>
  <arg name="visualization" default="true" />
  <include file="$(find ep_driver)/launch/ep_description.launch" pass_all_args="true" />
  <include file="$(find ep_driver)/launch/bringup.launch" pass_all_args="true" />
  <include file="$(find rmus_cartographer)/launch/modules/cartographer_mapping.launch" pass_all_args="true" />
</launch>
