<launch>
    <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port"       value="/dev/rplidar" />
        <param name="serial_baudrate"   value="115200" />
        <param name="frame_id"          value="laser" />
        <param name="inverted"          value="false" />
        <param name="angle_compensate"  value="true" />
        <param name="scan_mode"         value="Boost"/>
    </node>
</launch>
