<?xml version="1.0"?>
<launch>
    <include file="$(find ep_driver)/launch/bringup.launch">
        <arg name="robot_mode" value="real" />
    </include>
    <node name="odom_republisher" pkg="odom_republisher" type="odom_republisher" output="screen">
        <remap from="odom" to="/ep/odom" />
    </node>
</launch>
