<?xml version="1.0"?>
<launch>
  <arg name="configuration_basename" default="cartographer_2d_localization.lua"/>
  <arg name="map_name" default="map"/>
  <arg name="pbstream_file" value="$(find carto_navigation)/maps/latest/$(arg map_name).pbstream"/>
  <arg name="configuration_directory" default="$(find carto_navigation)/param"/>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(arg configuration_directory)
          -configuration_basename $(arg configuration_basename)
          -load_state_filename $(arg pbstream_file) "
      >
	 
   <remap from="scan" to="/rplidar/scan"/>
   <remap from="imu" to="/imu/data_raw"/>
   <remap from="odom" to="/ep/odom"/>
   <remap from="points2" to="/aligned_depth_to_color/depth/points" />
  </node>
  <!--node name="cartographer_ros_initialpose" pkg="cartographer_ros_initialpose" type="cartographer_ros_initialpose_node" args="$(arg configuration_directory) $(arg configuration_basename)" output="screen">
    <param name="tracking_frame" value="imu_link"/>
  </node-->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" >
    <remap from="map" to="map"/>
  </node>
</launch>
