<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/ep/odom" />

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find carto_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find carto_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find carto_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find carto_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find carto_navigation)/param/local_planner_params.yaml" command="load" />
    <rosparam file="$(find carto_navigation)/param/global_planner_params.yaml" command="load" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="controller_frequency" value="10.0" />
    <param name="recovery_behaviour_enabled" value="true" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="map" to="map_nav" />
  </node>
</launch>
