<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager_rgbd_to_pointcloud" args="manager" />

  <node pkg="nodelet" type="nodelet" name="nodelet_manager_rgbd_to_pointcloud1"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager_rgbd_to_pointcloud">
    <remap from="camera_info" to="/camera/aligned_depth_to_color/camera_info"/>
    <remap from="image_rect" to="/camera/aligned_depth_to_color/image_raw"/>
    <remap from="points" to="/camera/aligned_depth_to_color/points"/>
  </node>
</launch>
