<?xml version="1.0"?>
<launch>

    <arg name="static_map" value="20220520_ground_modified" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find rmus_navigation)/maps/$(arg static_map)/map.yaml" output="screen">
        <remap from="map" to="map_nav" />
    </node>

    <node name="move_base" pkg="move_base" type="move_base" output="screen">
        <rosparam file="$(find rmus_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rmus_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rmus_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rmus_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rmus_navigation)/config/local_planner_params.yaml" command="load" />
        <rosparam file="$(find rmus_navigation)/config/global_planner_params.yaml" command="load" />

        <param name="controller_frequency" value="10.0" />
        <param name="recovery_behaviour_enabled" value="true" />

        <remap from="cmd_vel" to="/cmd_vel" />
        <remap from="odom" to="/ep/odom" />
        <remap from="map" to="map_nav" />
    </node>

</launch>
